<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327466897385-83123lqia3tig2uvpkdgugnukcij44ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327466897385-83123lqia3tig2uvpkdgugnukcij44ql</string>
	<key>API_KEY</key>
	<string>AIzaSyDRlDU35W4tM3_jBcHNm_bD5U_APrFuv_o</string>
	<key>GCM_SENDER_ID</key>
	<string>327466897385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localcommunity</string>
	<key>PROJECT_ID</key>
	<string>localcommunityhub</string>
	<key>STORAGE_BUCKET</key>
	<string>localcommunityhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327466897385:ios:31668d3c3435720dccc578</string>
</dict>
</plist>